@model LMS.DATA.EF.Lesson


<iframe src="~/ViewerJS/#../Content/lessonPdf/@Model.PdfFilename" width='100%' height='500' allowfullscreen webkitallowfullscreen></iframe>
@*<embed src="~/Content/lessonPdf/@Model.PdfFilename#toolbar=0&scroll=1" type="application/pdf" width="100%" height="500px" />*@

@* Save for now *@
@*<div>
        <h4>Lesson</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LessonTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LessonTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Introduction)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Introduction)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VideoURL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VideoURL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PdfFilename)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PdfFilename)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Course.CourseName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Course.CourseName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.LessonId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
