@model IEnumerable<LMS.UI.MVC.Models.EmployeeReportsViewModel>

@{
    ViewBag.Title = "Employee";
}

@section styles
{
    <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
}

<section class="grey page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <h1>Employee Report</h1>
            </div>
            <div class="col-md-6 text-right">
                <div class="bread">
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("Index", "Course")">Courses</a></li>
                        <li class="active">Employee Report</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="white section">
    <div class="container">
        <div class="row">
            <div id="course-left-sidebar" class="col-md-3">
                <div class="section-title employee-report__name">
                    @if (ViewBag.EmployeeImg != null)
                    {
                        <div class="course-image-widget">
                            <img src="~/Content/images/user/@ViewBag.EmployeeImg" alt="@ViewBag.Name" class="img-responsive">
                        </div>
                    }
                    else
                    {
                        <h4>Please add a photo to your profile!</h4>
                    }
                </div>
                <div class="course-meta">
                    <p>@ViewBag.EmployeeName <small><a href="@Url.Action("Index", "User")">edit</a></small></p>
                    <hr>
                    <p class="employee-report__reports-to--spacing">Reports To <span class="label label-primary">@( ViewBag.ManagerName == null ? "Not Assigned" : ViewBag.ManagerName)</span></p>
                    <hr>
                    <p>Completed Courses <small class="label label-primary">@ViewBag.CourseCompleteCount</small></p>
                    <hr>
                    <p>Completed Lessons <small class="label label-primary">@ViewBag.LessonCompleteCount</small></p>
                    <hr>
                </div>
            </div>
            <div id="course-content" class="col-md-9">
                <div class="course-description">
                    <h3 class="course-title">Your Progress</h3>
                    <p>Each employee is responsible for completing six courses per calendar year to stay current on continuing education. It is essential to keep up-to-date on the technologies we use and get a glimpse at new technologies.</p>
                    <p><a href="@Url.Action("Index", "Course")" class="btn btn-primary">Take A Course <i class="fa fa-arrow-right"></i></a></p>
                    <div class="row">
                        <div class="achievement-wrapper">
                            <div class="widget-title">
                                <h4>View Completed</h4>
                                <hr>
                            </div>
                            <div class="tabbed-widget">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#home">Courses</a></li>
                                    <li><a data-toggle="tab" href="#menu1">Lessons</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="home" class="tab-pane fade in active">
                                        <p>
                                            <table id="completedCourseTable" class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Category</th>
                                                        <th>Date Completed</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var course in Model)
                                                    {
                                                        if (course.CourseName != null)
                                                        {
                                                            <tr>
                                                                <td><a target="_blank" href="@Url.Action("Details", "Course", new { id = course.CourseId })">@course.CourseName</a></td>
                                                                <td>@course.CouseCat</td>
                                                                <td>@course.CourseCompletedDate.ToString("MM/dd/yyyy @ hh:mm tt")</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </p>
                                    </div>
                                    <div id="menu1" class="tab-pane fade">
                                        <p>
                                            <table id="completedLessonTable" class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Date Completed</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var lesson in Model)
                                                    {
                                                        if (lesson.CourseName == null)
                                                        {
                                                            <tr>
                                                                <td><a target="_blank" href="@Url.Action("Details", "Lesson", new { id = lesson.LessonId })">@lesson.LessonTitle</a></td>
                                                                <td>@lesson.LessonCompletedDate.ToString("MM/dd/yyyy @ hh:mm tt")</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#completedCourseTable').DataTable({
                "order": [[2, "desc"]]
            });
            $('#completedLessonTable').DataTable({
                "order": [[1, "desc"]]
            });
        });
    </script>
}