@model IEnumerable<LMS.UI.MVC.Models.ManagerReportIndexViewModel>

@{
    ViewBag.Title = "Manager";
}

@section styles
{
    <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
}

<section class="grey page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <h1>Manager Report</h1>
            </div>
            <div class="col-md-6 text-right">
                <div class="bread">
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="active">Manager Report</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="white section">
    <div class="container">
        <div class="row">
            <div id="course-left-sidebar" class="col-md-3">
                <div class="section-title employee-report__name">
                    @if (ViewBag.ManagerImg != null)
                    {
                        <div class="course-image-widget">
                            <img src="~/Content/images/user/@ViewBag.ManagerImg" alt="@ViewBag.ManagerName" class="img-responsive">
                        </div>
                    }
                    else
                    {
                        <h4>Please add a photo to your profile!</h4>
                    }
                </div>
                <div class="course-meta">
                    <p>@ViewBag.ManagerName <small><a href="@Url.Action("Index", "User")">edit</a></small></p>
                    <hr>
                    <p class="employee-report__reports-to--spacing"># of Direct Reports <span class="label label-primary">@Model.Count()</span></p>
                    <hr>
                </div>
            </div>
            <div id="course-content" class="col-md-9">
                <div class="course-description">
                    <h3 class="course-title">Your Employees' Progress</h3>
                    <p>Each employee is responsible for completing six courses per calendar year to stay current on continuing education. It is essential to keep up-to-date on the technologies we use and get a glimpse at new technologies.</p>
                    <div class="row">
                        <div class="achievement-wrapper">
                            <div class="widget-title">
                                <h4>View Completed</h4>
                                <hr>
                            </div>
                            @{
                                int showEmployeeDetails = 0;
                            }
                            <table id="employeeCompletedTable" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Courses Completed</th>
                                        <th>Lessons Completed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var employee in Model)
                                    {
                                        showEmployeeDetails++;
                                        <tr>
                                            <td><a class="showemployeeDetails@(showEmployeeDetails) manager-report__employee-name--link">@employee.EmployeeFirstName @employee.EmployeeLastName</a></td>
                                            <td>@employee.NumCoursesCompletedYTD</td>
                                            <td>@employee.NumLessonsCompletedYTD</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{
            int hrefCounter = 0;
            int hrefCounter2 = 0;
            showEmployeeDetails = 0;
        }
        @foreach (var userCourses in Model.GroupBy(x => x.EmployeeId))
        {
            hrefCounter++;
            hrefCounter2++;
            showEmployeeDetails++;
            <div id="showemployeeDetails@(showEmployeeDetails)" class="toggleVisible">

                <div class="widget-title">
                    @foreach (var name in userCourses)
                    {
                        <h4>@name.EmployeeFirstName @name.EmployeeLastName <span class="btn btn-sm btn-danger" id="close-btn@(showEmployeeDetails)">Close <i class="fa fa-close"></i></span></h4>
                    }
                    <hr>
                </div>
                <div class="tabbed-widget">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#@($"home{hrefCounter}")">Courses</a></li>
                        <li><a data-toggle="tab" href="#@($"menu{hrefCounter2}")">Lessons</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="@($"home{hrefCounter}")" class="tab-pane fade in active">
                            <p>
                                <table id="completedCourseTable" class="table table-hover completedCourseTable">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Category</th>
                                            <th>Date Completed</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var courses in userCourses.Select(x => x.CoursesCompletedYTD))
                                        {
                                            foreach (var course in courses)
                                            {
                                                <tr>
                                                    <td><a target="_blank" href="@Url.Action("Details", "Course", new { id = course.CourseId })">@course.CourseName</a></td>
                                                    <td>@course.CourseCat</td>
                                                    <td>@course.CourseCompletedDate.ToString("MM/dd/yyyy @ hh:mm tt")</td>
                                                </tr>
                                            }

                                        }
                                    </tbody>
                                </table>
                            </p>
                        </div>
                        <div id="@($"menu{hrefCounter2}")" class="tab-pane fade">
                            <p>
                                <table id="completedLessonTable" class="table table-hover completedLessonTable">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Date Completed</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var lessons in userCourses.Select(x => x.LessonsCompletedYTD))
                                        {
                                            foreach (var lesson in lessons)
                                            {
                                                <tr>
                                                    <td><a target="_blank" href="@Url.Action("Details", "Lesson", new { id = lesson.LessonId })">@lesson.LessonName</td>
                                                    <td>@lesson.LessonCompletedDate.ToString("MM/dd/yyyy @ hh:mm tt")</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</section>

@section scripts
{
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#employeeCompletedTable').DataTable();
            $('.completedCourseTable').DataTable({
                "order": [[2, "desc"]]
            });
            $('.completedLessonTable').DataTable({
                "order": [[1, "desc"]]
            });
            //--------------------------------
            const howManyEmployees = @Model.Count();

            for (let i = 1; i <= howManyEmployees; i++) {
                $(`.showemployeeDetails${i}`).on("click", function () {
                    $(`#showemployeeDetails${i}`).toggleClass('toggleVisible');
                    var scroll = document.getElementById(`showemployeeDetails${i}`);

                    scroll.scrollIntoView({
                        behavior: "smooth",
                        block: "nearest"
                    });     
                });

                $(`#close-btn${i}`).on("click", function () {
                    $(`#showemployeeDetails${i}`).toggleClass('toggleVisible');
                });
            }
        });
    </script>
}
